// ================= header slider START ===================== //
section#kontakt-hero.header-slider
	h1 javite nam se
// ================= header slider END ==================== //

// ================= content START ====================== //
section#kontakt-content.content-holder
	.title-back
		h2#kontakt-title kontakt
	.wrapper.flex-grid
		.col-1-2.grid-block
			p  Na ovoj strani nas možete kontaktirati i poslati nam poruku, sugestiju ili komentar koristeći naš kontakt formular. Potrebno je da ostavite vaše podatke kako bi smo vam mogli uzvratiti mail ili vas kontaktirati lično.
			p  U slučaju da želite lično da nas kontaktirate možete koristiti naše kontakt informacije iz podnožja strane.
			p  U slučaju da želite da proverite dostupnost naših proizvoda, moguće je da to učinite popunjavanjem formulara na linku ispod.
			p 
			a(href="narudzbenica.html").btn-link proverite dostupnost proizvoda
				
		.contact-form.col-1-2.grid-block
			include ../../_contact-form
// ================= content END ===================== //
