// ================= hero home START ===================== //
section#hero-home
	.hero-holder
		.hero-overlay
		.hero-text-holder.wrapper
			.hero-text
				h3 digitalna
				h1 
					|	štampa
					br
					|	na majicama
				.divider-sm
				h4
					|	Vrhunska direktna štampa na bilo kom platnu, 
					br
					|	sa motivima iz naše ponude ili po vašoj želji.
			a(href="#").btn-def.btn-cta
				include ../../_btn-def
					h4 Pogledajte proizvode
// ================= hero home END ===================== //

// ================= about us START ======================= //
section#about-us
	.hero-block-holder.wrapper		
		.hero-block#left-block
			.block-img
				img(src="images/stampa-majice-sm-w2.jpg", alt="")
			.block-txt
				h3 originalni
				h2 dizajn
		.hero-block#center-block
			.block-img
				img(src="images/stampa-majice-sm-g2.jpg", alt="")
			.block-txt
				h3 vrhunska
				h2 štampa
		.hero-block#right-block
			.block-img
				img(src="images/stampa-majice-sm-b3.jpg", alt="")
			.block-txt
				h3 trajni
				h2 kvalitet
	.description-holder
		.title-back
				h2#about-title o nama
		.description.wrapper			
			p
				| Veb sajt 
				a(href="index.html") stampamajice.com 
				| ima misiju da vam učini dostupnom izradu majici, dukseva ili bilo kog predmeta od platana sa vrhunskom direktnom štampom i originalnim dizajnom, po najpovoljnijim cenama u Srbiji. Štampa majici i dukseva sa originalnim dizajnom vam omogućava da se istaknete i budete jedinstrveni u vašem okruženju i predstavite sebe ili neku ideju na jedinstven način. Zbog toga vam nudimo mogućnost da izaberete neki od dizajna iz naše ponude, kao i da sami date vaš predlog dizajna koji ćemo na najsavremenijim mašinama sa direktnom štampom na platnu izraditi samo za vas.

			p
				| Našom štampom na majicama, duksevima, keceljama i bilo kom platnu, sa visokom rezolucijom štampe i trajnim otiskom, dobijate jedinstveni proizvod čiji se kvalitet štampe ne gubi ni nakon 1000 pranja, a vas izdvaja na način koji sami izaberete.
			a(href="#").btn-def.btn-cta
				include ../../_btn-def
					h4 Naručite majicu
// ================= about us END ======================= //

// ================= hero small START ======================= //
section#hero-small
	.herosm-holder
		.herosm-overlay
		.herosm-text-holder.wrapper
			.herosm-text
				h2
					| Originalni dizajn po vašem izboru i kvalitet trajne direktne štampe na majicama koji vam mi nudimo učiniće da se vaša jedinstvenost istakne gde god da se nalazite.
// ================= hero small END ======================= //

// ================= design ESTART ======================= //
section#design
	.design-holder
		.title-back
				h2#design-title dizajn
		.description.design-plate.wrapper
			a.img-source(href='images/stampa-majice-sm1.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm1.jpg", alt="Štampa na majicama")
				.thumb-over.color-base
					.thumb-text
						h4 Crna rupa
						.thumb-divider
						h5 Scary 2016!
			a.img-source(href='images/stampa-majice-sm2.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm2.jpg", alt="Štampa na majicama")
				.thumb-over.color-dark
					.thumb-text
						h4 Beauty
						.thumb-divider
						h5 Cveće
			a.img-source(href='images/stampa-majice-sm3.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm3.jpg", alt="Štampa na majicama")
				.thumb-over.color-btn
					.thumb-text
						h4 Stripe Face
						.thumb-divider
						h5 Lica i naličja
			a.img-source(href='images/stampa-majice-sm4.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm4.jpg", alt="Štampa na majicama")
				.thumb-over.color-light
					.thumb-text
						h4 Forgive to Forget
						.thumb-divider
						h5 Citati
			a.img-source(href='images/stampa-majice-sm5.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm5.jpg", alt="Štampa na majicama")
				.thumb-over.color-btn
					.thumb-text
						h4 Planine
						.thumb-divider
						h5 Putovanja
			a.img-source(href='images/stampa-majice-sm6.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm6.jpg", alt="Štampa na majicama")
				.thumb-over.color-btn-hover
					.thumb-text
						h4 Product of the 80's
						.thumb-divider
						h5 Retro & Vintage
			a.img-source(href='images/stampa-majice-sm7.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm7.jpg", alt="Štampa na majicama")
				.thumb-over.color-base
					.thumb-text
						h4 Na ivici
						.thumb-divider
						h5 Putovanja
			a.img-source(href='images/stampa-majice-sm8.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm8.jpg", alt="Štampa na majicama")
				.thumb-over.color-btn-hover
					.thumb-text
						h4 I'm fine
						.thumb-divider
						h5 Apstrakti
			a.img-source(href='images/stampa-majice-sm15.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm15.jpg", alt="Štampa na majicama")
				.thumb-over.color-dark
					.thumb-text
						h4 Lion king
						.thumb-divider
						h5 Animalija
			a.img-source(href='images/stampa-majice-sm10.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm10.jpg", alt="Štampa na majicama")
				.thumb-over.color-btn
					.thumb-text
						h4 Bikes Of Brooklin
						.thumb-divider
						h5 Na 2 točka
			a.img-source(href='images/stampa-majice-sm11.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm11.jpg", alt="Štampa na majicama")
				.thumb-over.color-light
					.thumb-text
						h4 Stripes
						.thumb-divider
						h5 Apstrakti
			a.img-source(href='images/stampa-majice-sm12.jpg', data-lightbox='stampa-majice')
				.img-thumb
					img(src="images/stampa-majice-sm12.jpg", alt="Štampa na majicama")
				.thumb-over.color-base
					.thumb-text
						h4 Just Me
						.thumb-divider
						h5 Citati
		a(href="#").btn-def.center
			include ../../_btn-def
				h4 Pogledajte više

// ===================== print =================== //
section#print
	.print-holder
		.title-back
			h2#print-title print
		.print.wrapper
			.col-1-2
				.print-text-holder
					p Direktna štampa na majicama koju vam nudimo ("Direct to Garment Printing") je vrhunski proces kojim se boja direktno nanosi u tkanje i time otisak postaje trajan, punog kolora, vrhunskog kvaliteta i visoke rezolucije. Ovako odštampani proizvodi, pravilnim održavanjem koje podrazumeva upotrebu blažih sredstava za pranje na temperaturi od 30 stepeni i pranjem sa naličja, mogu da traju neverovatno dugo.
					p Pored dizajna koji vam mi nudimo, u mogućnosti smo da štampu na majici uradimo i po vašem dizajnu ili ideji koju nam predložite, bez dodatnih troškova (izuzev pripreme za štampu ako je sami ne dostavite). U ponudi imamo muške majice, ženske majice, dečije majice i majice za parove, a po želji štampa se može odraditi na bilo kom platnu. Veličina otiska je do formata A3 i zbog činjenice da se radi o direktnoj štampi na majicama broj boja ne utiče na cenu jer je otisak uvek u punom koloru.
			.col-1-2
				.print-img-holder
					img(src="images/bsccf2000.png.png", alt="")


