svg#btn-trans(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='380px', height='80px', viewbox='0 0 380 80', enable-background='new 0 0 380 80', xml:space='preserve')
	polygon(opacity='0.2', fill='#FFFFFF', points='0,80 380,80 380,0 27.535,0 ')
	polygon(points='5.5,77 376,77 376,3.833 30.5,3.833 ')