
// ==================== socials ================== //
section#socials-bottom
	.socials-bottom-holder
		.socials-bottom.wrapper
			.icon-soc-bottom
				a(href="#")#facebook-lg
					i.fa.fa-facebook.fa-5x
			.icon-soc-bottom
				a(href="#")#twitter-lg
					i.fa.fa-twitter.fa-5x
			.icon-soc-bottom
				a(href="#")#google-lg
					i.fa.fa-google-plus.fa-5x
			.icon-soc-bottom
				a(href="#")#linkedin-lg
					i.fa.fa-linkedin.fa-5x
			.icon-soc-bottom
				a(href="#")#pinterest-lg
					i.fa.fa-pinterest.fa-5x
// =================== copyrights ====================== //
section#footer-copy
	.footer-copy.wrapper
		.footer-info
			.footer-info-element#bottom-phone
				i.fa.fa-phone-square.fa-lg.inline
				h5.inline 063.16034.84
			.footer-info-element.separator
				h5 |
			.footer-info-element#bottom-mail
				i.fa.fa-envelope.fa-lg.inline
				a(href="mailto:kontakt@stampamajice.com")  kontakt@stampamajice.com
			.footer-info-element.separator
				h5 |
			.footer-info-element#bottom-skype				
				i.fa.fa-skype.fa-lg.inline
				a(href="skype:live:stampamajice") Stampa Majice
		.copy-holder
			h6 Sva prava zadržava veb-sajt stampamajice.com &copy; 2016