header#main-menu
	.top-bar-holder
		.top-bar.wrapper
			.top-bar-contacts
				#top-phone
					i.fa.fa-phone-square.fa-lg.inline
					h5.inline 063.16034.84
				#top-skype
					i.fa.fa-envelope.fa-lg.inline
					a(href="mailto:kontakt@stampamajice.com").inline kontakt@stampamajice.com
			.top-bar-socials
				.icon-soc
					a(href="#")#facebook-sm
						i.fa.fa-facebook.fa-fw
				.icon-soc
					a(href="#")#twitter-sm
						i.fa.fa-twitter.fa-fw
				.icon-soc
					a(href="#")#google-sm
						i.fa.fa-google-plus.fa-fw
				.icon-soc
					a(href="#")#linkedin-sm
						i.fa.fa-linkedin.fa-fw
				.icon-soc
					a(href="#")#pinterest-sm
						i.fa.fa-pinterest.fa-fw
	.menu-holder
		.menu.wrapper
			.logo-plate
				a(href="index.html#main-menu").logo
					include _logo-svg
				.responsive-menu-btn
					i.fa.fa-bars.fa-lg
			.nav-plate
				nav
					ul.top-nav
						li
							a#index(href="index.html") o nama
						li.dropdown
							a#no-follow proizvodi
							ul.submenu
								li
									a#muske-majice(href="muske-majice.html") muške majice
								li
									a#zenske-majice(href="zenske-majice.html") ženske majice
								li
									a#decije-majice(href="decije-majice.html") dečije majice
								li
									a#majice-za-parove(href="majice-za-parove.html") majice za parove
								li
									a#dizajn(href="dizajn.html") dizajn
						li
							a#novosti(href="novosti.html") novosti
						li
							a#kontakt(href="kontakt.html") kontakt