// Font awesome CDN
link(rel="stylesheet", type="text/css", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

// lightbox
link(rel='stylesheet', type="text/css", href='css/vendor/lightbox.css')

// Stylesheet
link( rel='stylesheet', type="text/css", href='css/main.css')

// fonts
link(href='https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:300,100,600,300italic,400&subset=latin-ext,latin', rel='stylesheet', type='text/css')
//- link(rel='stylesheet', href='fonts/stylesheet.css', type='text/css', charset='utf-8')

// google map
